---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

const pageTitle = 'Quiénes Somos | Radio News Online';
const pageDescription =
  'Conoce la misión, visión y propósito de Radio News Online como medio digital comprometido con la información cercana, ágil y veraz.';
---

<Layout
  title={pageTitle}
  description={pageDescription}
  canonical="/quienes-somos"
>
    <Header />
  <main class="max-w-4xl mx-auto px-6 py-16 bg-smoke mt-12 rounded-xl shadow-[0_2px_16px_0_rgba(255,255,255,0.18)]">
    <div class="mb-12 text-center">
      <h1 class="text-4xl md:text-5xl font-newsreader font-bold text-[#1a2332] mb-4">
        Quiénes Somos
      </h1>
      <div class="w-20 h-1 bg-[#a62b2b] mx-auto rounded-full"></div>
    </div>

    <section class="space-y-6 text-lg text-gray-700 leading-relaxed">
      <p>
        En <strong>Radio News Online</strong>, somos un medio de comunicación digital independiente, creado y liderado por Diana Rodríguez Castillo, comunicadora social y periodista con 14 años de experiencia. Diana cuenta con una especialización en Periodismo y Narrativas Digitales, además de formación avanzada en periodismo político, narrativas sonoras (podcast), contratación estatal y análisis político.
      </p>
      <p>En Radio News creemos que informar también es conectar. Por ello, trabajamos cada día para ofrecerte noticias con credibilidad, entretenimiento con propósito y educación consciente.
        <br />
        <h2 class="text-2xl font-semibold text-[#1a2332] pt-6">Nuestros 3 pilares:</h2>
        <ul class="list-disc pl-6">
          <li><strong>Respeto por la audiencia:</strong> Te escuchamos. Priorizamos lo que realmente te importa.</li>
          <li><strong>Información verificada:</strong> Cada dato pasa por filtro. Aqui no hay espacio para el rumor.</li>
          <li><strong>Crear comunidad real:</strong> Más que seguidores, queremos construir un espacio de conversación y confianza.</li>
        </ul>
        <br />
        Porque estar bien informado no deberia ser complicado.
        <br />
        <p><strong>Radio News Online: La noticia a un click.<strong></p>
      </p>
    </section>
  <div class="flex justify-center my-10">
    <img 
      src="/public/Diana.jpeg"
      alt="Equipo de Radio News Online" 
      class="w-4/5 max-w-3xl rounded-lg shadow-md object-cover"
      loading="lazy"
    />
  </div>
  </main>
  <Footer />
</Layout>
